{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СООБЩЕНИЕ ЧТО ПОКУПКА ОПЛАЧЕНА</title>
    <link rel = 'stylesheet' type="text/css" href = '{% static "style.css" %}'>
    <img src="{% static '/IMG_20240521_094111.jpg' %}" alt="My image" height="260px" width="1455px"/>
</head>
<body>
    <h2>ОПЛАТА ПОКУПОК ПРОШЛА УСПЕШНО</h2>
    <h2> НАШ МЕНЕДЖЕР СВЯЖЕТСЯ С ВАМИ ПО ВОЗМОЖНЫМ ВАРИАНТАМ ДОСТАВКИ</h2>
     <button>
        <a href="http://127.0.0.1:8000/product_list/">ВЕРНУТЬСЯ В КАТАЛОГ</a>
     </button>
    <button>
        <a href="http://127.0.0.1:8000/menu/">ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ</a>
     </button>
</body>
</html>